.box {
  width: 120px;
}

.color {
  width: 120px;
  height: 120px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    all: unset;
    padding: 4px;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
}